.loginDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1593062096033-9a26b09da705?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
.login {
    width: 400px; height: 400px;
    margin: auto;
    background-image: linear-gradient(to right bottom, rgba(170, 180, 126, 0.548) , rgba(131, 169, 180, 0.377));
    background-color: rgba(22, 73, 29, 0.507);
    border: 1px solid  rgba(22, 73, 29, 0.507);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: rgb(255, 255, 255);
}
.login h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: center;
}
.userId {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-inline: 20px;
}
.userId p {
    font-size: 12px;
    margin-bottom: 5px;
}
.userId input {
    width: 300px; height: 30px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-block: 5px;
    font-size: 14px;
}
.passWord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-block: 15px;
    padding-inline: 20px;
}
.passWord p {
    font-size: 12px;
    margin-bottom: 5px;
}
.passWord input {
    width: 300px; height: 30px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-block: 5px;
    font-size: 14px;
}
.loginDiv button {
    width: 300px; height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: rgb(29, 94, 114);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bolder;
    margin-top: 30px;
}